
h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration:underline;
};

.num {
    text-align: center;
    display: flex;
    align-items: center;
};

body.in {
   display: none;
   background-color: aqua;
}